html, body {
  background: #c93f30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000, #491610, #c93f30, #c93f30, #491610, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000, #491610, #c93f30, #c93f30, #491610, #000000); /* IE 10+, Firefox 16+, Chrome 26+, Safari 7+ */
  color: white;
  font-family: 'Nanum Gothic Coding', 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  letter-spacing: 1px;
  min-height: 98vh;
  text-align: center;
}

#api-example-img {
  border: 8px solid black;
  border-radius: 15px;
  margin: 0 auto;
  height: auto;
  width: 900px;
}

#api-history {
  background: rgb(29, 29, 29);
  border: 4px solid black;
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin: 10px auto 0 auto;
  padding: 10px 40px;
  text-shadow: 2px 2px 2px black;
  width: fit-content;
}

.api-history-time {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 5px;
}

.api-history-calls {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 5px;
}

#api-key {
  background: rgb(29, 29, 29);
  border: 4px solid black;
  color: white;
  font-size: 1rem;
  height: 40px;
  letter-spacing: 1.4px;
  text-align: center;
  width: 750px;
}

#api-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#api-list a {
  color: white;
  text-decoration: none;
}

.api-list-item {
  align-items: center;
  background: rgb(29, 29, 29);
  border: 4px solid black;
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  height: 30px;
  gap: 30px;
  padding: 5px;
  width: 1150px;
}

.api-list-item:hover {
  background: rgb(227, 227, 227);
  color: black;
}

.api-list-item-left {
  text-align: right;
  width: 150px;
}

.api-list-item-right {
  text-align: left;
}

#api-textbox {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.auth0-btn {
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 5px 10px;
  text-transform: uppercase;
}

.bold {
  font-weight: 700;
}

#copy {
  height: 40px;
  width: 40px;
}

#copy:hover {
  cursor: pointer;
}

#endpoint {
  align-items: center;
  display: flex;
  gap: 5px;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

.fade-in-fast {
  animation: fadeIn 200ms;
  -webkit-animation: fadeIn 200ms;
}

.fade-in-slow {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  flex-shrink: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 5px;
  text-shadow: 1px 1px 1px black;
}

footer a {
  color: white;
  font-weight: 700;
  text-decoration: none;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  gap: 150px;
  margin: 0;
  padding-left: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

header div {
  width: 350px;
}

#header-icon a {
  color: inherit;
}

#header-logo {
  margin-top: 10px;
  margin-bottom: 60px;
  height: auto;
  width: 150px;
}

.legal {
  background: black;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 1.3rem;
  margin: 10px 350px 10px 350px;
  padding: 20px 20px 10px 20px;
  text-align: left;
}

.legal a {
  color: #f54c19;
  text-decoration: none;
}

.legal a:hover {
  font-weight: 600;
}

.legal-body {
  font-size: 1rem;
  padding-bottom: 10px;
}

.legal-body-header {
  font-size: 1rem;
  font-weight: 600;
}

.legal-date {
  font-size: 1rem;
  font-weight: 700;
  padding: 10px 0 30px 0;
  text-align: center;
}

.legal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}

.legal-header {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0 auto;
  text-shadow: 2px 2px 2px black;
  width: fit-content;
}

.legal-sub-header {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: fit-content;
}

#loading-icon {
  animation: rotation 5s infinite linear;
}

#logged-out-info-top {
  background: black;
  border: 4px solid white;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0 auto;
  text-shadow: 1px 1px 1px black;
  width: 750px;
}

#logged-out-info-bottom {
  background: black;
  border: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-weight: 700;
  margin: 45px auto 0 auto;
  padding: 10px;
  text-shadow: 1px 1px 1px black;
  width: 400px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

main {
  flex: 1 0 auto;
}

#main-icon {
  height: 50px;
  margin-top: 5px;
  width: 50px;
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 50px auto 15px auto;
  text-shadow: 2px 2px 2px black;
}

#title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 5px;
  text-shadow: 2px 2px 2px black;
}

#title a {
  color: inherit;
  text-decoration: none;
}

#user {
  font-size: 1rem;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
}

#user-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px 0;
  text-transform: uppercase;
}